/*Mobil anpassning*/
/*Anpassning för enheter med mindre än 600px bredd*/
@media screen and (max-width: 600px) {
	/* Styr Autism loggan direkt, är 40px höjd och bredden är så stor den kan bli utan att bli dålig */
	#autism {
		height: 40px;
		transition-duration: 2s;
	}
	#navigation {
		width: 100%;
		text-align: center;
		border-radius: 0;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 0;
		padding-right: 0;
	}
	#introduction {
		width: 100%;
	}
	#List {
		width: 80%;
	}
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		min-width: 97px;
	}
	#footer {
		display: none;
	}
}