/*Ändrar bakgrunden på hemsidan via <Body> taggen*/
body {
	background-image: url("images/bakgrund22.png");
	background-repeat: repeat:round;
	background-size: auto;
	background-attachment: fixed;
	padding-left: 100px;
	padding-right: 100px;
}
/*håller allt i rätt form och höjd*/
#container {
	//border: 1px solid silver;
	max-width: 100%;
	max-height: 100%;
}

/*Headern på sidan med loggan*/
#header {
	background-image: url("images/Navimg.png");
	background-repeat: repeat:round;
	background-size: auto;
	background-attachment: fixed;
	display: block;
	position: relative;
	height: 5%;
	min-height: 120px;
	max-height: 120px;
	background-color: white;
}
/*Så att loggan är i mitten*/
#logocontainer {
	text-align: center;
}
/*Så att loggan inte är för stor/liten*/
#logo {
	text-align: center;
	width: 300px;
	min-height: 75px;
	max-height: 75px;
}
/*Navigationen*/
#navigationbar {
	margin-top: -5px;
	height: 47px;
	min-height: 47px;
	max-height: 100%;
	width: 100%;
	background-color: #B6B5B6;
}
#background-box {
	background-color: white;
}
