/*The main body*/
body {
	background-color: #f5deb3;
	background-color: rgba(234, 195, 146, 0.78)
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
}
/*For the box where #Rstil is placed*/
#topbox {
	position: relative;
	display: block;
	margin-top: -10px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0px;
	height: 64px;
	background-image: radial-gradient(circle, #595959, #3a3a3a, #2b2b2b);
	border: 2px solid black
	border-radius: 10px
	text-align: center;
}
/*For the title on top of the page*/
#Rstil {
	display: block;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 10px;
	height: 32px;
	/*background-image: radial-gradient(circle, silver, gray, silver);*/
	background-image: url("images/Backgroundstone.png");
	background-attachment: fixed;
	background-size: auto;
	background-repeat: repeat-x;
	text-align: center;
	text-transform: capitalize;
	text-shadow: -1px -2px rgba(119, 119, 119, 0.5);
	font-weight: bold;	
}

/*Navigation bar*/
#navigation {
	text-align: left;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	border-top: 3px ridge black;
	max-height: 10%;
	padding: 2px;
	margin-bottom: 13px;
}
/*For links inside Navigation bar*/
.navigationbutton:link {
	color: #bcbcbc;
}
/*For links inside Navigation bar*/
.navigationbutton:active {
	color: #00ff00;
}
/*For links inside Navigation bar*/
.navigationbutton:visited {
	color: #bcbcbc;
}
/*For links inside Navigation bar*/
.navigationbutton:hover {
	color: rgb(250, 147, 147);
	background-color: black;
}
/*For the links/button in #navigation*/
.navigationbutton {
	border: 1px solid black;
	border-radius: 7px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin-left: 5px;
}
/*containing*/
.container {
	width: 100%;
	margin: auto;
	padding: 0px;
	height: 200px;
}
/*For the box that is to the left*/
#leftbox {
	position: absolute;
	top: -2px;
	float: left;
	background-color: silver;
	padding-top: 0px;
	padding-left: 2px;
	margin-left: -300px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 3px;
	width: 290px;
	height: 200px;
}
/*For the box that is to the right*/
#rightbox {
	position: absolute;
	padding-top: 3px;
	padding-left: 2px;
	margin-left: 16%;
	margin-right: -45px;
	margin-top: 2px;
	margin-bottom: 3px;
	height: 200px;
	width: 83%;
	overflow: none;
}
/*The title of the Main body of text*/
.boxtoptext {
	position: relative;
	background-color: #FFFFFF;
	border-bottom: 2px ridge black;
	margin-right: 0px;
	text-align: center;
	font-size: 25px;
	text-transform: capitalize;
	font-weight: bold;
	max-height: 30px;
}

/*Main body of text*/
.boxtext {
	height: 825px;
	margin-top: 5px;
	padding: 3px;
	font-size: 20px;
	overflow: auto;
}
/*Backgroundcolor for both left and right box*/
.backgroundcolor {
	border-top: 3px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 1px solid black;
	background-image: url("images/Backgroundstone.png");
	background-attachment: fixed;
	background-size: auto;
	background-repeat: repeat-x;
	height 440px;
}

.gallery {
	position: relative;
	background-color: lightgray;
	float: left;
	margin-left: 10px;
	border: 1px solid black;
	width: 180px;
	height: 220px;
}

.galleryimg {
	margin: 0px;
	border-bottom: 2px solid black;
	width: 180px;
	height: 180px;
}

.galleryimg:hover {
	border-bottom: 2px solid gray;
}

.gallerydesc {
	margin-top: 2px;
	text-align: center;
	font-size: 12px;
}
	