/*The main body*/
body {
	background-color: #f5deb3;
	//background-color: rgba(234, 195, 146, 0.78)
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: auto;
	font-family: Arial, Helvetica, sans-serif;
}
/*For the box where #Rstil is placed*/
#topbox {
	position: relative;
	display: block;
	margin-top: -10px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 5px;
	height: 120px;
	background-image: radial-gradient(ellipse at bottom, #FFFFFF, #3a3a3a, #000000);
	/*border-bottom: 2px groove black;*/
	border-radius: 10px
	text-align: center;
}
/*For the title on top of the page*/
#Rstil {
	display: block;
	border-left: 5px groove black;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 10px;
	height: 90px;
	background-image: url("images/Subtlebackground.png");
	background-attachment: scroll;
	background-size: auto;
	background-repeat: repeat-x;
}
/*Title on top of page*/
#Rstiltitle {
	display: inline-block;
	float: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
/*Tuturu picture to the left*/
#Rstilrightimg {
	display: inline-block;
	float: right;
	margin-top: -2px;
	background-image: url("images/Subtlebackground.png");
	background-size: fixed;
	background-attachment: fixed;
	background-repeat: repeat-x;
	max-width: 210px;
	max-height: 122px;
	border-left: 5px groove black;
	//border-bottom: 5px ridge black;
	padding-bottom: 0px;
	border-right: 5px ridge black;
}
#rightimgsize {
	margin-top: 2px;
	width: 180px;
	height: 120px;
}
#rightcontainer {
	width: 210;
	max-width: 210;
	max-height 122;
}

/*Navigation bar*/
#navigation {
	display: block;
	background-image: url("images/Subtlebackground.png");
	background-attachment: fixed;
	background-size: auto;
	background-repeat: repeat-x;
	border-left: 5px groove black;
	//border-right: 5px ridge black;
	//border-bottom: 5px ridge black;
	text-align: left;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	height: 26px;
	width: 155px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 4px;
}
/*For the links/button in #navigation*/
.navigationbutton {
	border: 2px solid white;
	background-color: #F5DEB3;
	background-attachment: fixed;
	background-size: auto;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	margin-left: 5px;
}
img.navigationbutton {
	max-width: 40px;
	max-height: 20px;
}
/*For links inside Navigation bar*/
.navigationbutton:link {
	color: #000000;
}
/*For links inside Navigation bar*/
.navigationbutton:visited {
	color: #000000;
}
/*For links inside Navigation bar*/
.navigationbutton:hover {
	color: rgba(102, 4, 4, 0.95);
	border: 2px solid black;
	border-radius: 3px;
	background-color: #F5DEB3;
}
/*For links inside Navigation bar*/
.navigationbutton:active {
	color: #000000;
}
/*For the images used as buttons*/
a.navigationbutton {
	
}

/*For the box*/
#centerbox {
	display: block;
	position: relative;
	height: 100%;
	border-left: 3px groove black;
	border-right: 3px ridge black;
	background-image: url("images/Subtlebackground.png");
	background-attachment: scroll;
	background-size: auto;
	background-repeat: repeat-x;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/*The title of the Main body of text*/
.boxtoptext {
	position: relative;
	background-image: url("images/Subtlebackground.png");
	border-top: 2px groove black;
	border-bottom: 2px ridge black;
	//border-left: 3px groove black;
	//border-right: 3px ridge black;
	margin-right: 0px;
	text-align: center;
	font-size: 25px;
	text-transform: capitalize;
	font-weight: bold;
	max-height: 30px;
}

/*Main body of text*/
.boxtext {
	position: relative;
	background-image: url("images/Backoffwhitestone.png");
	background-size: auto;
	background-attachment: scroll;
	background-repeat: repeat-x;
	border-left: 3px groove black;
	border-right: 3px ridge black;
	border-bottom: 3px ridge black;
	height: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
	font-size: 20px;
	overflow: auto;
}
/*Backgroundcolor for both left and right box(NotInUse)*/
.background {
	border-top: 3px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 1px solid black;
	background-image: url("images/Backgroundstone.png");
	background-attachment: scroll;
	background-size: auto;
	background-repeat: repeat-x;
	height 440px;
}
/*For a image gallery*/
.gallery {
	position: relative;
	background-color: lightgray;
	float: left;
	margin-left: 10px;
	border: 1px solid black;
	width: 180px;
	height: 220px;
}
.galleryimg {
	margin: 0px;
	border-bottom: 2px solid black;
	width: 180px;
	height: 180px;
}
.galleryimg:hover {
	border-bottom: 2px solid gray;
}
.gallerydesc {
	margin-top: 2px;
	text-align: center;
	font-size: 12px;
}
	