/* Bakgrunden, typsnitt, text-align */
body {
	background-color: #959595;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(57,683,327)'%3E%3Cstop offset='0' stop-color='%23959595'/%3E%3Cstop offset='1' stop-color='%23ffa0a0'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='487' height='405.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

/*Direkt tag manipulering eller allmäna klasser som kan användas till allt */
/* Alla <a> taggar har ingen text dekoration eller annan färg */
a {
	color: inherit;
	text-decoration: none;
	transition-duration: 0.5s;
}
/* Gör så att när man hovrar eller drar över en div/span/text så markeras den inte om man har denna class */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* Start av webbsidan */
/* Top boxen som loggan kommer vara i */
#topbox {
	background-color: #d8d8d8;
	max-height: 65px;
	padding: 5px;
}
/* Styr loggan direkt, 65px höjd och tar 2s för en transform */
#logo {
	height: 65px;
	transition-duration: 2s;
}
#logo:hover {
	filter: brightness(200%);
	-webkit-filter: brightness(200%);
}
/* Sätter en Float till höger så att autism bilden är till höger */
#autismContainer {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	padding-top: 5px;
	float: right;
}
/* Styr Autism loggan direkt, är 100px höjd och bredden är så stor den kan bli utan att bli dålig */
#autism {
	height: 100px;
	transition-duration: 2s;
}
/* När man hovrar över Autism loggan */
#autism:hover {
	filter: brightness(120%);
	-webkit-filter: brightness(120%);
}



/* NAVIGATIONEN BÖRJAR HÄR */


/* Navigations som innehåller alla knappar */
#navigation {
	display: inline-block;
	background-color: #d8d8d8;
	padding-left: 2%;
	border-radius: 5px 5px 0px 0px;
	width: 98%;
	max-height: 20px;
}

/* Alla knapp klasser till navigation */

/* Alla knappar */
.button {
    font-family: 'Exo 2', sans-serif;
	background-color: #DBDBDB;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0px;
	transition-duration: 0.5s;
}
/* Vad som händer med alla knappar när man hovrar över de */
.button:hover {
	background-color: #9B9B9B;
	color: #696969;
}
/* Sätter in <a class="button active"> till den knapp som går till sidan man är på */
.active {
	background-color: #EAEAEA;
	-moz-box-shadow: inset 0 0 2px #000;
	-webkit-box-shadow: inset 0 0 2px #000;
	box-shadow: inset 0 0 2px #000;
}
/* Sätt dit en viss stil till dropdown knappen */
.dropbtn {
	background-color: #DBDBDB;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0px;
	transition-duration: 0.5s;
}

/* Containern som håller fast dropdown-content */
.dropdown {
	font-family: 'Exo 2', sans-serif;
	position: relative;
	display: inline-block;
}

/* Hur drop-down content ser ut, gömd direkt med visas med :hover */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #DBDBDB;
	min-width: 97px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Hur alla <a> taggar ser ut i dropdown-content */
.dropdown-content a {
	color: black;
	text-align: center;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
}

/* Byter färg på knapparna i dropdown-content när man hovrar över de */
.dropdown-content a:hover {
	background-color: #9B9B9B;
	color: #696969;
}

/* Visar dropdown menyn på hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Byter färg på dropdown knappen om dropdown-content visas */
.dropdown:hover .dropbtn {
	background-color: #9B9B9B;
	color: #696969;
}

/* SLUT PÅ NAVIGATIONEN */

/* BÖRJAN AV INNEHÅLL */

/* Håller allt i rätt format på sidan */
#Container {
	position: absolute;
	width: 100%;
	padding-top: 2px;
	text-align: center;
}
/* Stora mitten lådan som innehåller #box-title och #box-text, #box-quote */
#box {
	display: inline-block;
	text-align: left;
	border-radius: 5px 5px 0 0;
	width: 68%;
	background-color: #ededed;
}
/* Introductions titel längst upp på #box */
#box-title {
	text-align: center;
	background-color: #d8d8d8;
	font-size: 18px;
	padding-left: 2px;
	padding-right: 2px;
}
/* box-quote väljer hur citatet ser ut */
#box-quote {
    font-family: 'VT323', monospace;
	text-align: center;
	font-size: 15px;
	color: dimgray;
}

/* Start av Snabbfakta classer */
/* Box-text är där allt ligger i under titeln styr bl.a padding */
#box-text {
	width: 100%;
	text-align: left;
	margin: 5px 0px;
}

#SFButtonContainer {
	font-family: 'Exo 2', sans-serif;
	background-color: #d8d8d8;
	width: 100%;
	height: 19px;
	padding: 2px 0px;
}
#SFButtonContainer a {
	background-color: #DBDBDB; 
	height: 100%;
	margin: 0px 2px;
	padding: 2px 3px;
	border-radius: 1px;
}
#SFButtonContainer a:hover {
	background-color: #9B9B9B;
	color: #696969;
}


/* Frågan till myt eller fakta */
.Question {
	color: black;
}
/* Svaret till myt eller fakta */
.Answer {
	color: dimgray;
}
/* Källan av myt eller fakta */
.Source {
	font-size: 10px;
}

/* Slutet på Snabbfakta classer */

/* För texten längst ner på sidan */
#footer {
	text-align: center;
	position: relative;
	font-size: 10px;
	background-color: #d8d8d8; 
	color: #939393;
	width: 100%;
	min-height: 10px;
}
#footer a:hover {
	color: #A8A8A8;
}
